{{#unless inSheet}}<div class="legends">{{/unless}}
  <section class="item condition cell" data-item-id="{{_id}}" data-npc="{{npc}}">
    <h4 class="title no-margin">
      {{#if inSheet}}
        <a class="condition-toggle check-box{{#if data.checked}} filled{{/if}}"></a>
        {{#if npc}}
          <a class="black menu">{{name}}</a>
        {{else}}
          <a class="black menu">{{name}}</a>
          <a class="item-roll small weapons">
            <i class="fas fa-comment"></i>
          </a>
        {{/if}}
      {{else}}
        {{name}}
      {{/if}}
    </h4>
    
    {{#unless npc}}
      {{{ data.description }}}
    {{/unless}}
  </section>
{{#unless inSheet}}</div>{{/unless}}
