<form class="legends sheet npc-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <section class="row">
      <section class="cell cell-3">
        <h1 class="block charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "legends.actor-sheet.name"}}"/></h1>
      </section>
      <section class="cell cell-2">
        <select name="data.level" class="block">
          {{#select data.data.level}}
            {{#each config.npcLevels as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </section>
    </section>
  </header>

  <section class="body">
    <section class="description-drive">
      {{> "systems/legends/templates/partials/description-editor.hbs" }}

      {{> "systems/legends/templates/partials/labelled-input.hbs" '' field="data.drive" label="legends.actor-sheet.npc.drive" value=data.data.drive class="text"}}
    </section>

    <section class="item npc-principle principle">
      {{#if principle}}
        {{> "systems/legends/templates/partials/npc-principle-card.hbs" principle}}
      {{else}}
        <h1 class="title">
          Principle:
          None
          <p class="float-right small pad-75">
            <a class="fire title item-create" data-type="npc-principle">
              <i class="fas fa-plus"></i> {{localize "legends.actor-sheet.npc.add-principle"}}
            </a>
          </p>
        </h1>
      {{/if}}
    </section>

    <section class="fatigue">
      <h1 class="title">{{localize "legends.actor-sheet.fatigue"}}
        <a class="decrease-fatigue black small" title="{{localize "legends.actor-sheet.npc.fatigue.remove"}}"><i class="fas fa-minus"></i></a>
        <a class="increase-fatigue black small" title="{{localize "legends.actor-sheet.npc.fatigue.add"}}"><i class="fas fa-plus"></i></a>
      </h1>
      <section class="fatigue-boxes">
      {{#times data.data.fatigue.max}}
        <a class="check-box set-fatigue{{#if (gte ../data.data.fatigue.value @index)}} filled{{/if}}" data-param="fatigue" data-new-value="{{@index}}"></a>
        {{#if (modulus 5 @index)}}
          {{#unless (eq @index ../data.data.fatigue.max)}}
            |
          {{/unless}}
        {{/if}}
      {{/times}}
      </section>
    </section>

    <section class="technique-conditions row">
      <section class="technique-container cell cell-3">
        <h1 class="title">
          {{localize "legends.actor-sheet.npc.technique"}}
          <small>
            <a class="item-create fire title small" data-type="technique" title="{{localize "legends.moves.add"}}">
              <i class="fas fa-plus"></i> {{localize "legends.techniques.add"}}
            </a>
          </small>
        </h1>
        {{#if techniques}}
          {{#each techniques as |technique|}}
            {{> "systems/legends/templates/partials/technique-card.hbs" technique inSheet=true npc=true}}
          {{/each}}
        {{else}}
          <h4 class="title">None</h4>
        {{/if}}
      </section>

      <section class="conditions cell cell-2">
        <h1 class="title">{{ localize "legends.actor-sheet.conditions" }}
          <a class="item-create fire small" data-type="condition" title="{{localize "legends.conditions.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.condition.add"}}
          </a>
        </h1>
        {{#each conditions as |condition id|}}
          {{> "systems/legends/templates/partials/condition-card.hbs" condition inSheet=true npc=true}}
        {{/each}}

        <h1 class="title pad-top">
          {{ localize "legends.actor-sheet.statuses" }}
          <a class="item-create fire small" data-type="status" title="{{localize "legends.status.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.status.add"}}
          </a>
        </h1>
        <section class="statuses">
          <section class="positive">
            {{#each statuses.positive as |status id|}}
              {{> "systems/legends/templates/partials/condition-card.hbs" status inSheet=true npc=true}}
            {{/each}}
          </section>
          <section class="negative">
            {{#each statuses.negative as |status id|}}
              {{> "systems/legends/templates/partials/condition-card.hbs" status inSheet=true npc=true}}
            {{/each}}
          </section>
        </section>
      </section>
    </section>
  </section>
</form>
