<form class="legends sheet player-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <section class="row">
      <section class="playbook cell">
        <h1 class="block playbook"><input name="data.playbook" type="text" value="{{data.data.playbook}}" placeholder="{{localize "legends.actor-sheet.player.playbook"}}"/></h1>
      </section>
      <section class="name cell cell-2 row">
        <label class="title name-label">{{localize "legends.actor-sheet.name"}}:</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "legends.actor-sheet.name"}}"/>
      </section>
    </section>
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
  </header>

  {{#if displayTabbed}}
  <section class="navigation">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="main">{{localize "legends.nav.main"}}</a>
      <a class="item" data-tab="moves">{{localize "legends.nav.moves"}}</a>
      <a class="item" data-tab="techniques">{{localize "legends.nav.techniques"}}</a>
      <a class="item" data-tab="detail">{{localize "legends.nav.detail"}}</a>
    </nav>
  </section>
  {{else}}
  <section class="cell pad-sides">
  {{> "systems/legends/templates/sheets/actors/_trainings.hbs" data}}
  </section>
  {{/if}}

  <section class="body">
    <div class="row{{#if displayTabbed}} tab-main tab" data-group="primary" data-tab="main{{/if}}">
      <section class="cell cell-3 column">
        <section class="row">
          <section class="cell stats-fatigue pad-sides">
            {{> "systems/legends/templates/sheets/actors/_stats.hbs" data}}

            {{> "systems/legends/templates/sheets/actors/_fatigue.hbs" data}}
          </section>
          
          {{> "systems/legends/templates/sheets/actors/_balance.hbs" data}}

        </section>
        <section class="column statuses pad-sides">
          <h2 class="title center underline">{{localize "legends.actor-sheet.statuses"}}</h2>
          <section class="cell row positive">
            {{#each statuses.positive as |status id|}}
              {{> "systems/legends/templates/partials/condition-card.hbs" status inSheet=true}}
            {{/each}}
          </section>
          <section class="cell row negative">
            {{#each statuses.negative as |status id|}}
              {{> "systems/legends/templates/partials/condition-card.hbs" status inSheet=true}}
            {{/each}}
          </section>

          {{#if (and (lt statuses.positive.length 4) (lt statuses.negative.length 4))}}
          <p class="title small">
            <a class="item-create fire" data-type="status" title="{{localize "legends.status.add"}}">
              <i class="fas fa-plus"></i> {{localize "legends.status.add"}}
            </a>
          </p>
          {{/if}}
        </section>
      </section>
      <section class="cell conditions pad-sides">
        <h2 class="title center underline">{{ localize "legends.actor-sheet.conditions" }}</h2>
        {{#each conditions as |condition id|}}
          {{> "systems/legends/templates/partials/condition-card.hbs" condition inSheet=true}}
        {{/each}}
        {{#if (lt conditions.length 5)}}
        <p class="title small">
          <a class="item-create fire" data-type="condition" title="{{localize "legends.condition.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.condition.add"}}
          </a>
        </p>
        {{/if}}
      </section>
    </div>

    <div class="{{#if displayTabbed}}tab-moves tab" data-group="primary" data-tab="moves{{/if}}">
      <section class="moves cell pad-sides">
        <h2 class="title center underline">
          {{localize "legends.actor-sheet.moves"}}
        </h2>

        <p class="title small center">
          <a class="item-create fire" data-type="move" title="{{localize "legends.moves.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.moves.add"}}
          </a>
        </p>

        <div class="item-list col col-3">
          {{#each moves as |move id|}}
            {{> "systems/legends/templates/partials/move-card.hbs" move inSheet=true}}
          {{/each}}
        </div>
      </section>
    </div>

    <div class="{{#if displayTabbed}}tab-techniques tab" data-group="primary" data-tab="techniques{{/if}}">
      <section class="cell column">
        {{#if displayTabbed}}
        <section class="cell pad-sides">
        {{> "systems/legends/templates/sheets/actors/_trainings.hbs" data}}
        </section>
        {{/if}}

        <section class="techniques cell pad-sides">
          <h2 class="title underline center">
            {{localize "legends.actor-sheet.techniques"}}
          </h2>
          <p class="title small center">
            <a class="item-create fire" data-type="technique" title="{{localize "legends.techniques.add"}}">
              <i class="fas fa-plus"></i> {{localize "legends.techniques.add"}}
            </a>
          </p>

          <div class="item-list col col-2">
            {{#each techniques as |technique id|}}
              {{> "systems/legends/templates/partials/technique-card.hbs" technique inSheet=true}}
            {{/each}}
          </div>
        </section>
      </section>
    </div>

    <div class="{{#if displayTabbed}}tab-detail tab" data-group="primary" data-tab="detail{{/if}}">
      <section class="cell row">
        <section class="cell item feature pad-sides" data-item-id="{{feature._id}}">
          {{#if feature}}
          <h2 class="title center underline menu">
            <a class="black item-roll">{{feature.name}}</a>
          </h2>
          <section class="body">
            {{{feature.data.description}}}
          </section>
          {{else}}
          <h2 class="title center underline">
            {{localize "legends.actor-sheet.player.feature.title"}}
          </h2>
          <p class="center title small">
            <a class="item-create fire" data-type="feature">
              <i class="fas fa-plus"></i>
              {{localize "legends.actor-sheet.player.feature.add"}}
            </a>
          </p>
          {{/if}}
        </section>

        <section class="cell column pad-sides">
          <section class="item moment-of-balance" data-item-id="{{momentOfBalance._id}}">
          {{#if momentOfBalance}}
            <h2 class="title balance menu center underline">
              <a class="item-roll black">
                {{localize "legends.actor-sheet.player.momentOfBalance"}}
              </a>
            </h2>
            <div class="moment">
              {{{momentOfBalance.data.description}}}
            </div>
          {{else}}
            <h2 class="title balance center underline">
              {{localize "legends.actor-sheet.player.momentOfBalance"}}
            </h2>
            <div class="moment">
              <p class="title small center">
                <a class="item-create fire" data-type="moment-of-balance" title="{{localize "legends.moves.add"}}">
                  <i class="fas fa-plus"></i>
                  {{localize "legends.actor-sheet.player.add-moment"}}
                </a>
              </p>
            </div>
          {{/if}}

          <h2 class="title center underline">{{localize "legends.actor-sheet.player.about"}}</h2>

          {{> "systems/legends/templates/partials/labelled-input.hbs" '' field="data.background" label="legends.actor-sheet.player.background" value=data.data.background}}
          {{> "systems/legends/templates/partials/labelled-input.hbs" '' field="data.demeanor" label="legends.actor-sheet.player.demeanor" value=data.data.demeanor}}

          <label class="look">
            <span class="title"><strong>{{localize "legends.actor-sheet.player.look"}}:</strong></span>
            <div class="description">
              {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
          </label>

          {{> "systems/legends/templates/partials/labelled-input.hbs" '' field="data.hometown" label="legends.actor-sheet.player.hometown" value=data.data.hometown}}

          <h3 class="title">
            {{localize "legends.actor-sheet.player.growth"}}
            {{#times 4}}
            <a class="check-box set-value{{#if (gte ../data.data.growth.value @index)}} filled{{/if}}" data-param="growth" data-new-value="{{@index}}"></a>
            {{/times}}
          </h3>

          <h4 class="title">
            {{localize "legends.actor-sheet.player.advancements.title"}}
          </h4>
          <ul>
            {{#each data.data.growth.advancements as |track name|}}
            <li>
              {{localize (tr_path "legends.actor-sheet.player.advancements" name)}}
              &nbsp;
              {{#times track.max}}
              <a class="check-box mini set-adv-value{{#if (gte track.value @index)}} filled{{/if}}" data-param="{{name}}" data-new-value="{{@index}}"></a>
              {{/times}}
            </li>
            {{/each}}
          </ul>
        </section>
      </section>
    </div>
  </section>
</form>
