// out: false

@import "./config.less";

.dialog{
  .block { .block-font(); }
  .brush { .brush-font(); }
  .title { .title-font(); }
  .hand { .hand-font(); }
  .text { .main-font(); }

  .window-header{
    .title-font();
  }
  .window-content{
    padding: 0.5rem;
    .bg-fade(@distance: 20%);

    .dialog-content{
      margin: 0 0 1rem;

      .form-group{
        label{
          font-size: 1.2rem;
        }
        input{
          text-align: center;
          background: white;
          border: 2px solid @accent-color;
          border-radius: 2px;
          font-size: 1.5rem;
          height: 2rem;
        }
        .form-text{
          flex: none;
          width: 100%;
          font-size: 1.1rem;
          color: @weaponsmith;
        }
      }
    }

    .dialog-buttons{
      button{
        border: 1px solid;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
        background: @bg-fade-color;
        border-color: @bg-fade-color;
        color: @text-color;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        &:hover{
          background: @bg-fade-color + #111;
        }

        &.normal, &.default{
          background: @accent-color;
          border-color: @accent-color;
          &:hover{
            background: @accent-color + #111;
          }
        }
      }
    }
  }
}
