// out: false

@import "./config.less";

.chat-message.message{
  background: @bg-fade-color;
}

.message-content{
  .legends{
    .kanji{
      &::before,
      &::after {
        .kanji-font();
        color: @firebender;
        padding: 0;
        font-size: 70%;
        vertical-align: text-top;
      }
    }

    .moment-of-balance{
      .kanji{
        text-align: center;
        &::before, &::after{
          position: relative;
          top: 4px;
        }
        &::before{
          content: '平';
        }
        &::after{
          content: '衡';
        }
      }
    }

    padding: 0.5rem;
    margin: 0 -5px -5px;
    background: @bg-color;
    border-top: 1px solid @accent-color;

    h3{
      margin: 0;
      .title-font();
    }

    a.move-roll{
      display: block;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border-radius: 0.25rem;
      border: 1px solid;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
      background: @bg-fade-color;
      border-color: @accent-color;
      color: @text-color;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      &:hover{
        background: @bg-fade-color + #111;
      }
    }

    .dice-roll{
      .dice-result{
        .main-font();

        .dice-formula,
        .dice-total,
        .dice-tooltip .part-total{
          background: @bg-fade-color;
          border-color: @accent-color;
          color: @text-color;
        }

        .dice-tooltip .part-header{
          border-bottom: 1px solid @accent-color;
        }
      }
    }
  }
}
